.featured-destinations__meta{    
    margin-bottom: 50px;

    @media screen and (max-width: 767px){
        text-align: center;
    }
    @media screen and (min-width: 768px){
        display: flex;
            align-items: flex-end;
            justify-content: space-between;
    }
}
.featured-destinations__title{
font-weight: 700;
font-size: 36px;
line-height: 1.39;
color: $secondary-text-color;
}
.featured-destinations__link{
    color: $accent-color;
    fill: none;
    stroke: $accent-color;
    stroke-width: 6;

    &:hover,
    &:focus{
        color: $primary-text-color;
        stroke: $primary-text-color;
    }
}
.destinations-menu{
    @media screen and (min-width: 768px){
        @include flex-box;
    }    
}
.destinations-menu__list{     
    position: relative;

    @media screen and (max-width: 767px) {
            &:not(:last-child){
                margin-bottom: 10px;
            }
    }
    @media screen and (min-width: 768px){
        @include flex-item(2);
    }
        @media screen and (min-width: 1200px) {
            @include flex-item;
        }
}
.destinations-menu__img{
    border-radius: 8px;
    height: auto;
    @media screen and (max-width: 767px){
        margin: 0 auto;
    }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
           width: 100%;
        }
}
.destinations-menu__meta{
    position: absolute;
    bottom: 0;
    left: 0;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;

    background-color: $primary-bg-color;

    @media screen and (max-width: 767px){
        right: 0;
        text-align: center;
    }
    @media screen and (min-width: 768px){
        border-top-right-radius: 8px;
    }
}
.destinations-menu__title{
font-weight: 600;
font-size: 17px;
line-height: 1.5;
color: $form-holiday-color;
}
.destinations-menu__text{
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    color: $form-holiday-color-border;
}