.footer{
    background-color: $secondary-bg-color;
}
.footer__section{
padding-bottom: 30px;
}
.footer__top{
    display: flex;   
    margin-bottom: 75px; 
}
.footer__description{
    width: 400px;
    margin-right: 100px;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
}

.footer__text{
        font-weight: 300;
        font-size: 18px;
        line-height: 1.7;
        color: $footer-text-color;
}
.footer__copyright{
    font-weight: 300;
    font-size: 18px;
    line-height: 1.7;
    color: $footer-text-color;
}
.destinations{
    flex-grow: 0.5;
}
.destinations__title{
    font-size: 19px;
    line-height: 3.2;
    color: $secondary-text-color;
}
.destinations__link{
    display: block;

    font-weight: 300;
    font-size: 18px;
    line-height: 2.11;
    color: $footer-text-color;

    &:hover,
        &:focus {
            color: $accent-color;
        }
}
.shop{
    flex-grow: 0.5;
}
.shop__title{
font-size: 19px;
    line-height: 3.2;
    color: $secondary-text-color;
}
.shop__link{
display: block;

        font-weight: 300;
        font-size: 18px;
        line-height: 2.11;
        color: $footer-text-color;

        &:hover,
            &:focus {
                color: $accent-color;
            }
}
.interests{
    flex-grow: 0.5;
}
.interests__title{
    font-size: 19px;
        line-height: 3.2;
        color: $secondary-text-color;
}
.interests__link{
    display: block;

    font-weight: 300;
        font-size: 18px;
        line-height: 2.11;
        color: $footer-text-color;

        &:hover,
            &:focus {
                color: $accent-color;
            }
}

.social{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

    &:before{
        position: absolute;
        left: 0;
        top: 0;
        content: '';

        width: 100%;
        height: 3px;
            
        background: $form-holiday-color-border;
    }
}
.social__list{
    &:not(:last-child){
        margin-right: 15px;
    }
}
.social__link{
display: flex;
align-items: center;
justify-content: center;
color: $secondary-text-color;
fill: currentColor;

    &:hover,
    &:focus{
        color: $accent-color;
    }
}
