.guides__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.guides__title{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.39;
    color: $secondary-text-color;
}
.guides__text{
    margin-bottom: 30px;

font-weight: 300;
}