.header{
    margin-top: 45px;
}
.nav{
    @media screen and (max-width: 767px) {
           text-align: center;
        }
    @media screen and (min-width: 768px){
        display: flex;
        align-items: center;
    }    
}
.site-nav{
    @media screen and (max-width: 479px) {
            margin-bottom: 18px;
        }
    @media screen and (min-width:480px){
        display: flex;
    }    
         @media screen and (min-width:480px) and (max-width: 767px){
      justify-content: space-between;
}
        @media screen and (min-width: 768px){
    margin-left: auto;
}
}
.site-nav__list{
    position: relative;    

    @media screen and (min-width: 768px){
        margin-right: 15px;
    }
        @media screen and (min-width: 1200px) {
            margin-right: 35px;
        }

    &:hover::after,
    &:focus::after{
        display: block;
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
       background-color: $accent-color;
    }    
}
.site-nav__link{
    display: block;
    padding: 5px;
    font-size: 16px;
    line-height: 1.19;

    color: $site-nav-color;
    &:hover, 
    &:focus{
        color: $site-nav-color-active;
    }

    &--active{
        font-weight: 500;
        color: $site-nav-color-active;       
    }
}
.auth-nav{
    @media screen and (min-width: 480px){
        display: flex;
    } 
        @media screen and (min-width: 480px) and (max-width: 767px) {
            justify-content: center;
        }
}
.auth-nav__list:not(:last-child){
    @media screen and (max-width: 479px) {
            margin-bottom: 18px;
    }
    @media screen and (min-width: 480px){
        margin-right: 18px;
    }    
}
.auth-nav__btn{
    margin: 0 auto;
}