.hero__container{
    position: relative;
    @media screen and (min-width: 1200px){
        display: flex;
            justify-content: space-between;
            align-items: center;
    }
}
.hero__title{
margin-bottom: 70px;

font-weight: 700;
font-size: 64px;
line-height: 1.25;
color: $site-nav-color-active;
}
.hero__text{
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 20px;

font-weight: 600;
font-size: 22px;
line-height: 1.23;

color: $site-nav-color-active;

@media screen and (max-width: 767px) {
        text-align: center;
    }

&:after{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;

    background-color: $site-nav-color-active;

    @media screen and (min-width: 768px){
        width: 32px;
    }
}
}
.hero__form{
    margin-bottom: 40px;  

    @media screen and (max-width: 767px){
        text-align: center;
    }    
    @media screen and (min-width: 768px){
        @include flex-box;
    }
}
.hero__select{
    position: relative;
    min-width: 220px;
    height: 52px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-size: 15px;
color: $form-holiday-color;
border: 0.8px solid $form-holiday-color-border;
border-radius: 6px;
    background-image: url(../../images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: center;
        -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 

  @media screen and (max-width: 767px){
      &:not(:last-child){
          margin-bottom: 15px;
      }
  }
@media screen and (min-width: 768px) {
        @include flex-item(2);
    }
        @media screen and (min-width: 1200px) {
            @include flex-item;
        }
}
.hero__btn{
    @media screen and (max-width: 1199px){
        margin: 0 auto;
    }
}
.hero__img{
    height: auto;

    @media screen and (max-width: 767px){
        top: 0;
        left: 0;
    }
    @media screen and (max-width: 1199px){
        position: absolute;        
        z-index: -1;
    }
         @media screen and (min-width: 768px) and (max-width: 1199px) {
           top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
         }
}