.testimonials__title{
font-weight: 700;
font-size: 36px;
line-height: 1.39;
color: $secondary-text-color;
}
.testimonials__flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.testimonials__meta{
  width: 450px;
}
.testimonials__menu{
    display: flex;
    margin-bottom: 30px;
}
.testimonials__list:not(:last-child){
    margin-right: 15px;
}
.testimonials__icon{
    fill: $accent-color;
}
.testimonials__review{
    margin-bottom: 40px;

font-size: 24px;
line-height: 1.5;
color: $secondary-text-color;
}
.testimonials__name{
margin-bottom: 5px;

font-weight: 700;
font-size: 22px;
line-height: 2.18;
color: $secondary-text-color;
}
.testimonials__position{
font-size: 18px;
line-height: 2.67;
color: $primary-text-color;
}
.testimonials__img-block{
    position: relative;
}
.testimonials__img{
    border-radius: 10px;
}
.testimonials__transition-review{
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 20px;
    padding-left: 30px;
    border-top-left-radius: 10px;

    background-color: $primary-bg-color;
}
.testimonials__review-btn{
    padding: 5px 10px; 
    border-radius: 50%;
    border: 1px solid $primary-text-color;

    color: $primary-text-color;
    background-color: $primary-bg-color;
    cursor: pointer;

    &:not(:last-child){
        margin-right: 10px;
    }
    &:hover,
    &:focus{
        color: $secondary-text-color;
        border-color:  $secondary-text-color;
    }
}