$primary-text-color: #7D7987;
$secondary-text-color: #000000;

$primary-bg-color: #ffffff;
$secondary-bg-color: #f9f9fb;

$accent-color: #fb8f1d;

$site-nav-color: #b8becd;
$site-nav-color-active: #202336;

$form-holiday-color: #4a4c53;
$form-holiday-color-border: #afb0b9;

$footer-text-color: #848484;

$item-number: 2;